<div class="col-md-6">
  <div class="frame-bus-model">
    <div class="title-model">
      <%= t "admin.bus.model"%> <%= model_bus.id %>
    </div>
    <div class="out-box">
      <% (1..model_bus.number_of_floors).each do |floor| %>
        <div class="floor-bus-model">
          <div class="title-floor" id="floor_<%= floor %>">
            <label><%= t "floor"%> <%= floor %></label>
          </div>
          <table class="frame-model" data-model="<%= model_bus.id %>">
            <% (1..model_bus.number_of_rows).each do |row| %>
              <tr class="bus-seat" id="row_<%= row %>">
                <% (1..model_bus.number_of_columns).each do |col| %>
                  <td>
                    <% model_bus.active_seat_coordinates.each do |seat| %>
                      <% if seat.existed? row, col, floor %>
                          <li class="point" data-model="<%= model_bus.id %>">
                          </li>
                        <% break %>
                      <% end %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
    <div class="row text-center">
      <button type="button" name="button" class="btn btn-primary create-frame-bus"
        data-model="<%= model_bus.id %>">
        <%= t "admin.bus.create_bus" %>
      </button>
    </div>
  </div>
</div>
