<tr>
  <th scope="row"><%= model_bus_counter + 1 %></th>
  <td><%= model_bus.id %></td>
  <td><%= model_bus.amount_of_seats %></td>
  <td><%= model_bus.number_of_floors %></td>
  <td><%= model_bus.number_of_rows %></td>
  <td><%= model_bus.number_of_columns %></td>
  <td>
    <%= link_to admin_model_bus_path(model_bus.id), class: "detail-bus" do %>
      <%= content_tag :i, t("admin.model_bus.table.detail"), class: "fa fa-list-alt" %>
    <% end %>
  </td>
</tr>
