<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search">
        <div class="input-group custom-search-form">
          <input type="text" class="form-control"
            placeholder=<%= t("admin.layout.search") %>>
          <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <i class="fa fa-search"></i>
          </button>
          </span>
        </div>
      </li>
      <li>
        <%= link_to "#", data: {turbolinks: "false"} do %>
          <i class="fa fa-dashboard fa-fw"></i>
          <%= t "admin.sidebar.dashboard" %>
        <% end %>
      </li>
      <li>
        <%= dropdown_link("fa fa-wrench fa-fw", "model", "disable_click") %>
        <ul class="nav nav-second-level collapse" id="model">
          <li>
            <%= link_to t("admin.sidebar.showModel"), admin_model_buses_path,
              data: {turbolinks: "false"} %>
          </li>
          <li>
            <%= link_to t("admin.sidebar.addModel"), new_admin_model_bus_path,
              data: {turbolinks: "false"} %>
          </li>
        </ul>
      </li>
      <li>
        <%= dropdown_link("fa fa-wrench fa-fw", "bus", "disable_click") %>
        <ul class="nav nav-second-level collapse" id="bus">
          <li>
            <%= link_to t("admin.sidebar.showBus"), admin_buses_path,
              data: {turbolinks: "false"} %>
          </li>
          <li>
            <%= link_to t("admin.sidebar.addBus"), new_admin_bus_path,
              data: {turbolinks: "false"} %>
          </li>
        </ul>
      </li>
      <li>
        <%= dropdown_link("fa fa-wrench fa-fw", "schedule", "disable_click") %>
        <ul class="nav nav-second-level collapse" id="schedule">
          <li>
            <%= link_to t("admin.sidebar.showSchedule"), admin_schedules_path,
              data: {turbolinks: "false"} %>
          </li>
          <li>
            <%= link_to t("admin.sidebar.addSchedule"), new_admin_schedule_path,
              data: {turbolinks: "false"} %>
          </li>
        </ul>
      </li>
      <li>
        <%= dropdown_link("fa fa-wrench fa-fw", "order", "disable_click") %>
        <ul class="nav nav-second-level collapse" id="order">
          <li>
            <%= link_to t("admin.sidebar.showSchedule"), admin_bills_path,
              data: {turbolinks: "false"} %>
          </li>
          <li>
            <%= link_to t("admin.sidebar.addSchedule"), new_admin_schedule_path,
              data: {turbolinks: "false"} %>
          </li>
        </ul>
      </li>
      <li>
        <%= dropdown_link("fa fa-bar-chart-o fa-fw", "statistic",
          "disable_click") %>
        <ul class="nav nav-second-level collapse" id="statistic">
          <li>
            <%= link_to t("admin.sidebar.statisticRevenueByRoute"),
              admin_statistics_path, data: {turbolinks: "false"} %>
          </li>
          <li>
            <%= link_to t("admin.sidebar.statisticRevenueByTime"), "#",
              data: {turbolinks: "false"} %>
          </li>
          <li>
            <%= link_to t("admin.sidebar.statisticPassengerByRoute"), "#",
              data: {turbolinks: "false"} %>
          </li>
          <li>
            <%= link_to t("admin.sidebar.statisticPassengerByTime"), "#",
              data: {turbolinks: "false"} %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
