<div class="seat-wrap">
  <div class="row">
    <div class="col-md-2">
      <p><%= t "floor_2" %></p>
    </div>
    <div class="col-md-10 slot">
      <% (0..4).each do |i| %>
        <ul>
          <% (0..6).each do |j| %>
            <% if i==0 && j==6 %>
              <li class="float-left seat-location-blank"></li>
            <% elsif i==3 && j==6 %>
              <% if floor.include?32 %>
                <li class="float-left seat-location-booked">32</li>
              <% else %>
                <li id="32" class="float-left seat-location">32</li>
              <% end %>
            <% elsif i%2==1 %>
              <li id="<%= j %>-<%= i %>"
                class="float-left seat-location-blank"></li>
            <% elsif i==2 && j==5 %>
              <li id="<%= j %>-<%= i %>"
                class="float-left seat-location-blank"></li>
            <% else %>
              <% if second_floor.last == 32 %>
                <% second_floor << second_floor.last.next %>
              <% end %>
              <% if floor.include?(second_floor.last)%>
                <li id="<%= second_floor.last %>"
                  class="float-left seat-location-booked">
                  <%= second_floor.last %>
                </li>
              <% else %>
                <li id="<%= second_floor.last %>"
                  class="float-left seat-location">
                  <%= second_floor.last %>
                </li>
              <% end %>
              <% second_floor << second_floor.last.next %>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
