<% number_of_floors = schedule.model_bus.number_of_floors %>
<% (1..number_of_floors).each do |floor| %>
  <div class="floor-bus">
    <% if number_of_floors == 2 %>
      <div class="title-floor" id="floor_<%= floor %>">
        <label><%= t "floor"%> <%= floor %></label>
      </div>
    <% end %>
    <table class="frame" data-schedule="<%= schedule.id %>">
      <% (1..schedule.model_bus.number_of_rows).each do |row| %>
        <tr class="bus-seat" id="row_<%= row %>">
          <% (1..schedule.model_bus.number_of_columns).each do |col| %>
            <td>
              <% schedule.active_seat_coordinates.each do |seat| %>
                <% if seat.existed? row, col, floor %>
                  <% if schedule.no_of_booked_seat_array.include? seat.number %>
                    <li class="seat booked"
                      data-schedule="<%= schedule.id %>" data-number="<%= seat.number %>">
                      <%= seat.number %></li>
                  <% else %>
                    <li class="seat"
                      data-schedule="<%= schedule.id %>" data-number="<%= seat.number %>">
                      <%= seat.number %></li>
                  <% end %>
                  <% break %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
