<div id="schedule-<%= schedule.id %>" class="list-seat container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="seat-padding">
        <label class="lb"><%= t "how-to-select-seats" %></label>
      </div>
      <div class="seat-padding">
        <%= render "schedules/model_bus", schedule: schedule %>
        <div class="seat-type">
          <ul>
            <li>
              <div class="tpye-seat unbooked"></div>
              <%= t "unbooked-seat"%>
            </li>
            <li>
              <div class="tpye-seat selected-seat"></div>
              <%= t "selected-seat"%>
            </li>
            <li>
              <div class="tpye-seat booked"></div>
              <%= t "booked-seat"%>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 bill-detail">
      <div class="detail-wrap">
        <label class="schedule-city"><%= schedule.route.origin.city %>
          <i class="fa fa-arrow-right"></i>
          <%= schedule.route.destination.city %>
        </label>
        <label class="date-schedule">
          <%= schedule.date.strftime(t("date.formats.date_month_year_concise")) %>
        </label>
      </div>
      <div class="detail container-fluid">
        <div class="row">
          <div class="col-md-5">
            <%= t "booked-seat" %>
          </div>
          <div class="col-md-7 booked-seat"
            data-schedule="<%= schedule.id %>">
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <%= t "total-price" %>
          </div>
          <div class="col-md-7 total-price"
            data-schedule="<%= schedule.id %>">
          </div>
        </div>
      </div>
      <div class="detail2">
        <button class="btn btn-info continue-btn"
          data-schedule="<%= schedule.id %>" disabled>
          <%= t "continue" %>
        </button>
      </div>
    </div>
  </div>
</div>
