<% if @schedules.first %>
  <div class="panel panel-default">
    <div class="panel-body">
      <span class="from-to"><%= @schedules.first.route.origin.city %>
        <i class="fa fa-arrow-right font-12"></i>
        <%= @schedules.first.route.destination.city %></span><br>
      <div>
        <a><i class="fa fa-chevron-circle-left font-15"></i></a>
        <span><%= @schedules.first.date.strftime("%d/%m/%Y")%></span>
        <a><i class="fa fa-chevron-circle-right font-15"></i></a>
      </div>
    </div>
  </div>

  <ul class="list-trip">
    <%= render @schedule_support.schedules,
      first_floor: @schedule_support.first_floor,
      second_floor: @schedule_support.second_floor %>
  </ul>
<% else %>
  <p><%= t "no_data" %></p>
<% end %>
