<h4><%= t "title" %></h4>
<hr>
<% if @address %>
  <div class="form-booking">
    <div class="row">
      <div class="col-md-9 form">
        <%= form_for :seach, method: "post", url: schedules_url,
          remote: true do |f| %>
          <div class="row inline">
            <div class="col-md-4">
              <%= f.label :origin_address, t("origin_address") %>
              <div>
                <%= f.select "origin_address",
                  options_from_collection_for_select(@address, "id", "city"),
                  {include_blank: true},
                  {class: "select-custom", id: "origin_address"} %>
              </div>
            </div>
            <div class="col-md-2">
              <i class="glyphicon glyphicon-transfer arrow"></i>
            </div>
            <div class="col-md-4">
              <%= f.label :destination, t("destination_address") %>
              <div>
                <%= f.select "destination_address",
                  options_from_collection_for_select(@address, "id", "city"),
                  {include_blank: true},
                  {class: "select-custom", id: "destination_address"} %>
              </div>
            </div>
          </div>
          <div class="row inline">
            <div class="col-md-4">
              <%= f.label :date, t("date_of_department") %>
              <div class="form-group">
                  <div class="input-group">
                      <%= f.text_field "interval", class: "form-control",
                        data: {provide: "datepicker"}, id: "date" %>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>
            </div>
            <div class="col-md-offset-2 col-md-4">
              <%= f.label :interval, t("interval") %>
              <div>
                <%= f.select "interval",
                  options_for_select([t("morning"),
                  t("afternoon"), t("night")]),
                  {include_blank: true}, {class: "select-custom",
                    id: "interval"} %>
              </div>
            </div>
          </div>
          <div class="row inline">
            <div class="col-md-offset-6 col-md-4">
              <%= f.submit t("search"),
                {class: "btn btn-primary select-custom"} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
