<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 p-b-20">
			<%= form_for(resource, as: resource_name, url: session_path(resource_name),
				class: "login100-form validate-form") do |f| %>
				<%= devise_error_messages! %>
				<span class="login100-form-title p-b-70">
					<%= t "welcome" %>
				</span>

				<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="<%= t "enter_username" %>">
					<%= f.email_field :email, autocomplete: "new-password", class: "input100" %>
					<span class="focus-input100" data-placeholder="<%= t "username" %>" ></span>
				</div>

				<div class="wrap-input100 validate-input m-b-50" data-validate="<%= t "enter_password" %>">
					<%= f.password_field :password, autocomplete: "new-password", class: "input100" %>
					<span class="focus-input100" data-placeholder="<%= t "password" %>"></span>
				</div>

				<div class="container-login100-form-btn">
					<%= f.submit t("log_in"), class: "login100-form-btn" %>
				</div>

				<%= render "devise/shared/links" %>
			<% end %>
		</div>
	</div>
</div>
