<div id="main" class="home-page">
  <div class="container home-search-ticket-panel">
    <div class="row">
      <div class="col-md-12">
        <div>
          <h1>VeXeRe.com Hệ thống vé xe lớn nhất Việt Nam</h1>
          <% if @addresses %>
            <%= form_for :search, method: "get", html: {id: "search_form"},
              url: schedules_url do |f| %>
              <div class="row">
                <div class="col-md-5 col-md-push-2">
                  <div>
                    <%= f.select "origin_address",
                      options_from_collection_for_select(@addresses, "id", "city"),
                      {include_blank: true},
                      {class: "select-custom", id: "origin_address"} %>
                  </div>
                </div>
                <div class="col-md-3 text-center">
                  <i class="glyphicon glyphicon-transfer icon" style="font-size:30px;"></i>
                </div>
                <div class="col-md-4">
                  <div>
                    <%= f.select "destination_address",
                      options_from_collection_for_select(@addresses, "id", "city"),
                      {include_blank: true},
                      {class: "select-custom", id: "destination_address"} %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 col-md-push-2">
                  <label class="error" for="search_date" generate="true"
                    style="display: block;"></label>
                  <div class="input-group date search-schedule" data-provide="datepicker">
                    <%= f.text_field "date", class: "form-control", id: "search_date"%>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-offset-3 col-md-4">
                  <div>
                    <%= f.select "interval",
                      options_from_collection_for_select(@intervals, "id", "name"),
                      {include_blank: true}, {class: "select-custom", id: "interval"} %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-offset-5 col-md-2">
                  <%= f.submit t("search"),
                    {class: "btn btn-primary select-custom", id: "search"} %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hidden-sm hidden-xs">
  <div class="route-search-panel">
    <div id="routeSearch" class="odd-row clearfix">
      <div class="content-inner">
        <div class="clearfix"></div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs clearfix" role="tablist">
          <% @addresses.each_with_index do |address, index| %>
            <% if index == 0 %>
              <li role="presentation" class="active">
            <% else %>
              <li role="presentation">
            <% end %>
              <a href="#city-<%= address.id %>" role="tab" data-toggle="tab">
                <%= address.city %>
              </a>
            </li>
          <% end %>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <% @addresses.each_with_index do |address, index| %>
            <% if index == 0 %>
              <div role="tabpanel" class="tab-pane fade in active" id="city-<%= address.id %>">
            <% else %>
              <div role="tabpanel" class="tab-pane fade in" id="city-<%= address.id %>">
            <% end %>
              <div class="clearfix">
                <div class="col-md-6 pl0 pr0">
                  <ul class="routes-list">
                    <% @routes.start_from(address).each do |route| %>
                      <li>
                        <a href="#"><span class="route fl"><small><%= route.origin.city %> →</small> <%= route.destination.city %></span></a>
                        <input class="input-txt selectDate hasDatepicker" type="hidden" data-url="/vi-VN/ve-xe-khach-tu-sai-gon-di-ha-noi" data-param="129t1241.html" id="dp1542629616597"><button type="button" class="ui-datepicker-trigger">Chọn ngày</button>
                    </li>
                    <% end %>
                  </ul>
                </div>
                <!--
                <div class="col-md-6 pl0 pr0">
                  <ul class="routes-list">
                    <li>
                      <a href="/vi-VN/ve-xe-khach-tu-sai-gon-di-mui-ne-binh-thuan-129t27071.html"><span class="route fl"><small>Sài Gòn →</small> Mũi Né</span></a>
                      <span class="price fl">120.000 ₫/vé</span>
                      <input class="input-txt selectDate hasDatepicker" type="hidden" data-url="/vi-VN/ve-xe-khach-tu-sai-gon-di-mui-ne-binh-thuan" data-param="129t27071.html" id="dp1542629616602"><button type="button" class="ui-datepicker-trigger">Chọn ngày</button>
                    </li>
                    <li>
                      <a href="/vi-VN/ve-xe-khach-tu-sai-gon-di-vung-tau-ba-ria-vung-tau-129t2131.html"><span class="route fl"><small>Sài Gòn →</small> Vũng Tàu</span></a>
                      <span class="price fl">105.000 ₫/vé</span>
                      <input class="input-txt selectDate hasDatepicker" type="hidden" data-url="/vi-VN/ve-xe-khach-tu-sai-gon-di-vung-tau-ba-ria-vung-tau" data-param="129t2131.html" id="dp1542629616603"><button type="button" class="ui-datepicker-trigger">Chọn ngày</button>
                    </li>
                    <li>
                      <a href="/vi-VN/ve-xe-khach-tu-sai-gon-di-khanh-hoa-129t1321.html"><span class="route fl"><small>Sài Gòn →</small> Khánh Hòa</span></a>
                      <span class="price fl">185.000 ₫/vé</span>
                      <input class="input-txt selectDate hasDatepicker" type="hidden" data-url="/vi-VN/ve-xe-khach-tu-sai-gon-di-khanh-hoa" data-param="129t1321.html" id="dp1542629616604"><button type="button" class="ui-datepicker-trigger">Chọn ngày</button>
                    </li>
                    <li>
                      <a href="/vi-VN/ve-xe-khach-tu-sai-gon-di-dak-lak-129t1161.html"><span class="route fl"><small>Sài Gòn →</small> Buôn Ma Thuột</span></a>
                      <span class="price fl">200.000 ₫/vé</span>
                      <input class="input-txt selectDate hasDatepicker" type="hidden" data-url="/vi-VN/ve-xe-khach-tu-sai-gon-di-dak-lak" data-param="129t1161.html" id="dp1542629616605"><button type="button" class="ui-datepicker-trigger">Chọn ngày</button>
                    </li>
                    <li>
                      <a href="/vi-VN/ve-xe-khach-tu-sai-gon-di-rach-gia-kien-giang-129t23741.html"><span class="route fl"><small>Sài Gòn →</small> Rạch Giá - Kiên Giang</span></a>
                      <span class="price fl">120.000 ₫/vé</span>
                      <input class="input-txt selectDate hasDatepicker" type="hidden" data-url="/vi-VN/ve-xe-khach-tu-sai-gon-di-rach-gia-kien-giang" data-param="129t23741.html" id="dp1542629616606"><button type="button" class="ui-datepicker-trigger">Chọn ngày</button>
                    </li>
                  </ul>
                </div>
                -->
              </div>
            </div>
          <% end%>
          
        </div>
      </div>
    </div>
  </div>
</div>
