<div id="main" class="home-page">
  <div class="container home-search-ticket-panel">
    <div class="row">
      <div class="col-md-12">
        <div>
          <h1>DatVeXe.com Hệ thống vé xe lớn nhất Việt Nam</h1>
          <% if @addresses %>
            <%= form_for :search, method: "get", html: {id: "search_form"},
              url: schedules_url do |f| %>
              <div class="row">
                <div class="col-md-5 col-md-push-2">
                  <div>
                    <%= f.select "origin_address",
                      options_from_collection_for_select(@addresses, "id", "city"),
                      {include_blank: true},
                      {class: "select-custom", id: "origin_address"} %>
                  </div>
                </div>
                <div class="col-md-3 text-center">
                  <i class="glyphicon glyphicon-transfer icon" style="font-size:30px;"></i>
                </div>
                <div class="col-md-4">
                  <div>
                    <%= f.select "destination_address",
                      options_from_collection_for_select(@addresses, "id", "city"),
                      {include_blank: true},
                      {class: "select-custom", id: "destination_address"} %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 col-md-push-2">
                  <label class="error" for="search_date" generate="true"
                    style="display: block;"></label>
                  <div class="input-group date search-schedule" data-provide="datepicker">
                    <%= f.text_field "date", class: "form-control", id: "search_date"%>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-offset-3 col-md-4">
                  <div>
                    <%= f.select "interval",
                      options_from_collection_for_select(@intervals, "id", "name"),
                      {include_blank: true}, {class: "select-custom", id: "interval"} %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-offset-5 col-md-2">
                  <%= f.submit t("search"),
                    {class: "btn btn-primary select-custom", id: "search"} %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hidden-sm hidden-xs">
  <div class="route-search-panel">
    <div id="routeSearch" class="odd-row clearfix">
      <div class="content-inner">
        <div class="clearfix"></div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs clearfix" role="tablist">
          <% @addresses.each_with_index do |ad, index|%>
          <li role="presentation" class="<%= index == 0 ? 'active' : '' %>">
            <%= link_to ad.city, "#tab-#{ad.id}", data: {toggle: "tab"} %>
          </li>
        <% end %>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <% @addresses.each_with_index do |ad, index| %>
            <div role="tabpanel" class="tab-pane fade in <%= index == 0 ? 'active' : '' %> " id="<%= "tab-#{ad.id}" %>">
              <div class="clearfix">
                <div class="col-md-12 pl0 pr0">
                  <ul class="routes-list">
                    <% ad.routes_start.includes(:origin, :destination).each do |r| %>
                      <li>
                        <%= link_to "#" do %>
                          <span class="route fl"><small><%= r.origin.city %> →</small> <%= r.destination.city %></span>
                          <button type="button" class="ui-datepicker-trigger">Chọn ngày</button>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
