<tr>
  <th scope="row"><%= schedule_counter + 1 %></th>
  <td><%= schedule.route.origin.city %></td>
  <td><%= schedule.route.destination.city %></td>
  <td><%= l schedule.date, format: :date_month_year_concise %></td>
  <td><%= schedule.time_start %></td>
  <td><%= schedule.time_spent/60.0 %><%= t "admin.schedule.table.hour" %></td>
  <td><%= schedule.price %></td>
  <td><%= schedule.date <= Date.current ? t("admin.schedule.status.done") :
    t("admin.schedule.status.doing") %></td>
  <td>
    <%= link_to admin_schedule_path(id: schedule.id), class: "detail-schedule" do %>
      <%= content_tag :i, t("admin.schedule.detail"), class: "fa fa-list-alt" %>
    <% end %>
  </td>
</tr>
