<% provide :title, t("admin.schedule.title") %>
<div class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to t("admin.sidebar.showSchedule"), admin_schedules_path,
            data: {turbolinks: "false"} %>
        </li>
        <li class="breadcrumb-item active"><%= t "detail" %></li>
      </ol>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>
            <%= t "admin.schedule.show.title" %>
              <%= @schedule.route.origin.city %> -
              <%= @schedule.route.destination.city %>
            <%= link_to admin_schedule_path(id: @schedule.id),
              class: "btn btn-warning" do %>
                <h5>
                  <%= content_tag :i, t("admin.schedule.edit"),
                    class: "fa fa-edit" %>
                </h5>
              <% end %>
          </h4>
        </div>
        <div class="panel-body">
          <p class="lead"><%= t "admin.schedule.table.stts" %>:
            <%= @schedule.date < Date.current ? t("admin.schedule.status.done") :
              status_schedule(@schedule) %>
            <br>
          </p>
          <p class="lead"><%= t "admin.schedule.table.date" %>:
            <%= l @schedule.date, format: :date_month_year_concise %></p>
          <p class="lead"><%= t "admin.schedule.show.bus" %>
            <%= link_to @schedule.bus.name, admin_schedules_path,
              class: "lead" %>
          </p>
          <div class="col-lg-6">
            <p class="lead"> <%= t "admin.schedule.show.origin" %> </p>
            <h4><%= t "admin.schedule.show.location" %>
              <%= @schedule.start.name %>,
              <%= @schedule.route.origin.city %></h4>
            <h4><%= t "admin.schedule.show.at" %>
              <%= @schedule.time_start %></h4>
          </div>
          <div class="col-lg-6">
            <p class="lead"><%= t "admin.schedule.show.destination" %> </p>
            <h4><%= t "admin.schedule.show.location" %>
              <%= @schedule.final.name %>,
                <%= @schedule.route.destination.city %></h4>
            <h4><%= t "admin.schedule.show.at" %>
              <%= time_end @schedule %></h4>
            <br>
          </div>
          <div class="col-lg-6">
            <h4><%= t "admin.schedule.show.number_seated" %>
              <%= @schedule.booked_seats.count %>
              <%= link_to t("admin.schedule.show.detail_seated"), "#" %></h4>
            <h4><%= t "admin.schedule.show.number_seat" %>
              <%= @schedule.empty_slot %>
            </h4>
            <br>
          </div>
          <div class="col-lg-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>
